
<table style="font-size:13px;" class="table table-striped table-condensed no-margin">
    <tr>
        <th style="width:260px;" class="text-right">Total No. of Offices: </th>
        <td id="total-offices"><div id="idcheck"></div></td>
    </tr>
    <tr>
        <th style="width:260px;" class="text-right">Total No. of Departments: </th>
        <td id="total-departments">12</td>
    </tr>
    <tr>
        <th style="width:260px;" class="text-right">Total No. of Employees: </th>
        <td id="total-employees">250</td>
    </tr>
</table>
