
@{
    ViewBag.Title = "Organization Structure";
}

<div class="row" style="margin-top:15px;">

    <div class="col-sm-6">
        <div class="panel panel-default panel-Custom">
            <a href="~/Secure/Office" class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-lock text-info"></i> Organization Structure<i class="fa fa-angle-right pull-right text-muted"></i></h3>
            </a>
            <div class="panel-body no-padding" style="min-height:250px;">
                <div class="caption">
                    Manage Organization Structure settings.
                </div>
                <table class="table table-striped table-condensed no-margin">
                    <tr><th class="text-center">Organization Structure Details</th></tr>
                    <tr>
                        <th class="col-sm-6 text-center">Company</th>
                        <td><i class="fa fa-globe fa-2x" style="color:#75caeb"></i></td>
                    </tr>
                    <tr>
                        <th class="col-sm-6 text-center">Branch</th>
                        <td><i class="fa fa-building fa-2x" style="color:#158cba"></i></td>
                    </tr>
                    <tr>
                        <th class="col-sm-6 text-center">Department</th>
                        <td><i class="fa fa-bank fa-2x" style="color:#28b62c"></i></td>
                    </tr>
                    <tr>
                        <th class="col-sm-6 text-center">Sub Office</th>
                        <td><i class="fa fa-building fa-2x" style="color:#158cba"></i></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default panel-Custom">
            <a href="~/Secure/Office/Users" class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-lock text-info"></i> Workforce Management<i class="fa fa-angle-right pull-right text-muted"></i></h3>
            </a>
            <div class="panel-body no-padding" style="min-height:250px;">
                <div class="caption">
                    Manage workforce management settings.
                </div>
                <table class="table table-striped no-margin">
                    <tr><th class="text-center">Workforce Details</th></tr>
                    <tr><td><a href="javascript://">System Administrator Details</a></td></tr>
                    <tr><td><a href="javascript://"> List of Active Users</a></td></tr>
                    <tr><td><a href="javascript://">List of Active Roles</a></td></tr>
                    <tr><td><a href="javascript://">List of Active Permission</a></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>

