
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-Custom">
            <a href="~/Secure/Notification/Settings" class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-lock text-info"></i> Notification Configurations<i class="fa fa-angle-right pull-right text-muted"></i></h3>
            </a>
            <div class="panel-body no-padding" style="min-height:250px;">
                <div class="caption">
                    Manage and Configure all Notifications settings.
                </div>
                <table class="table table-striped no-margin">
                    <tr><th class="text-center">Notification Configurations Inculdes</th></tr>
                    <tr><td><a href="javascript://">InApp Notifications Settings</a></td></tr>
                    <tr><td><a href="javascript://">SMS Notifications Settings</a></td></tr>
                    <tr><td><a href="javascript://"> Email Notifications Settings</a></td></tr>
                    <tr><td><a href="javascript://">Email SMTP Settings</a></td></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default panel-Custom">
            <a href="~/Secure/Notification/Configurations" class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-lock text-info"></i> Notifications Templates<i class="fa fa-angle-right pull-right text-muted"></i></h3>
            </a>
            <div class="panel-body no-padding" style="min-height:250px;">
                <div class="caption">
                    Manage and Configure all Notifications Templates.
                </div>
                <table class="table table-striped no-margin">
                    <tr><th class="text-center">Notifications Templates Details</th></tr>
                    <tr><td><a href="javascript://">View All Notifications</a></td></tr>
                    <tr><td><a href="javascript://">View Module wise Notifications</a></td></tr>
                    <tr><td><a href="javascript://">Configure Module wise Notifications</a></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
