
<!-- Helpers ================================================== -->
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5648519"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","/Themes/KlickAndGo/Content/bat.bing.com/bat.js","uetq");</script><noscript><img src="http://bat.bing.com/action/0?ti=5648519&amp;Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
<link rel="stylesheet" type="text/css" href="~/Themes/KlickAndGo/content/css/owl-carousel.css" media="all" />
<link rel="shortcut icon" href="../cdn.shopify.com/s/files/1/0882/5910/t/28/assets/favicona0b2.png?10452926933486505044" type="image/png" />
<link href="~/Themes/KlickAndGo/Content/cdn.shopify.com/s/files/1/0882/5910/t/28/assets/appsa0b2.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Themes/KlickAndGo/Content/cdn.shopify.com/s/files/1/0882/5910/t/28/assets/stylea0b2.css" rel="stylesheet"  type="text/css" media="all" />
<link href="~/Themes/KlickAndGo/Content/cdn.shopify.com/s/files/1/0882/5910/t/28/assets/flexslidera0b2.css" rel="stylesheet"  type="text/css" media="all" />
<link href="~/Themes/KlickAndGo/Content/cdn.shopify.com/s/files/1/0882/5910/t/28/assets/flexslider-producta0b2.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Themes/KlickAndGo/Content/cdn.shopify.com/s/files/1/0882/5910/t/28/assets/swatcha0b2.css" rel="stylesheet"  type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="~/Themes/KlickAndGo/Content/slick/slick.css" rel="stylesheet" />
<link href="~/Themes/KlickAndGo/Content/slick/slick-theme.css" rel="stylesheet" />
<link href="~/Themes/KlickAndGo/Content/css/Header.css" rel="stylesheet" />
<link href="~/Themes/KlickAndGo/Content/Style.css" rel="stylesheet" type="text/css" />
<link href="~/Themes/KlickAndGo/Content/cdn.shopify.com/s/files/1/0882/5910/t/28/style29.css" rel="stylesheet" type="text/css" />

<!-- Header hook for plugins ================================================== -->
<meta name="shopify-checkout-api-token" content="124f2ec3fb9e8c2eefd2c392b5a2cd7e">
<link  type="text/css"href="~/Themes/KlickAndGo/Content/UI-Popup/css/popup.css" rel="stylesheet" />
<link type="text/css" href="~/Themes/KlickAndGo/Content/UI-Popup/css/popup.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Themes/KlickAndGo/Content/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="~/Themes/KlickAndGo/Content/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Themes/KlickAndGo/Content/js/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript"src="~/Themes/KlickAndGo/Content/UI-Popup/js/popup.js"></script>
<script type="text/javascript" src="~/Themes/KlickAndGo/Content/UI-Popup/js/popup.min.js"></script>
<script type="text/javascript" src="~/Themes/KlickAndGo/Content/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="~/Themes/KlickAndGo/Content/js/wow.min.js"></script>
<script type="text/javascript" src="~/Themes/KlickAndGo/Content/js/electro.js"></script>
<script src="~/Themes/KlickAndGo/Content/slick/slick.js"></script>
<script id="__st">
//<![CDATA[
var __st={"a":8825910,"offset":3600,"reqid":"b3c0a4bb-57dd-4051-9496-551b8b3aefcf","pageurl":"www.rinkit.com\/","u":"49080e66988a","p":"home"};
//]]>
</script>
<script src="~/Themes/KlickAndGo/Content/cdn.shopify.com/s/javascripts/shopify_stats1bce.js" type="text/javascript" async="async"></script>
<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/8825910/digital_wallets/dialog" />
<script type="text/javascript">

      window.ShopifyAnalytics = window.ShopifyAnalytics || {};
      window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
      window.ShopifyAnalytics.meta.currency = 'GBP';
      var meta = {"page":{"pageType":"home"}};
      for (var attr in meta) {
        window.ShopifyAnalytics.meta[attr] = meta[attr];
      }

</script>
<script type="text/javascript">
        window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
          (function() {
   var postcoderkey = 'PCW9L-S6CL7-ZQV2D-YHMRP';
   var pluginurl = "/Themes/KlickAndGo/Content/cdn.shopify.com/s/files/1/0882/5910/files/postcoderShopifyPlugin_v2.156af.js";

   function postcoderpluginload(){window.postcoder=window.postcoder||{};window.postcoder.postcoderkey=postcoderkey;var b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=pluginurl;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)}
   window.attachEvent?window.attachEvent("onload",postcoderpluginload):window.addEventListener("load",postcoderpluginload,false);
})();
        };
</script>
<script type="text/javascript" class="analytics">
        (window.gaDevIds=window.gaDevIds||[]).push('BwiEti');


        (function () {
          var customDocumentWrite = function(content) {
            var jquery = null;

            if (window.jQuery) {
              jquery = window.jQuery;
            } else if (window.Checkout && window.Checkout.$) {
              jquery = window.Checkout.$;
            }

            if (jquery) {
              jquery('body').append(content);
            }
          };

          var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
          if (trekkie.integrations) {
            return;
          }
          trekkie.methods = [
            'identify',
            'page',
            'ready',
            'track',
            'trackForm',
            'trackLink'
          ];
          trekkie.factory = function(method) {
            return function() {
              var args = Array.prototype.slice.call(arguments);
              args.unshift(method);
              trekkie.push(args);
              return trekkie;
            };
          };
          for (var i = 0; i < trekkie.methods.length; i++) {
            var key = trekkie.methods[i];
            trekkie[key] = trekkie.factory(key);
          }
          trekkie.load = function(config) {
            trekkie.config = config;
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.onerror = function(e) {
              (new Image()).src = 'http://v.shopify.com/internal_errors/track?error=trekkie_load';
            };
            script.async = true;
            script.src="/Themes/KlickAndGo/Content/cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min97e4.js";
          
            var first = document.getElementsByTagName('script')[0];
            first.parentNode.insertBefore(script, first);
          };
          trekkie.load(
            {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":8825910,"isMerchantRequest":null,"themeId":189282438,"themeCityHash":16849066963884104298}},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":0.1},"Google Analytics":{"trackingId":"UA-45249564-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Facebook Pixel":{"pixelIds":["231766470592404"],"agent":"plshopify1.2"},"Session Attribution":{}}
          );

          var loaded = false;
          trekkie.ready(function() {
            if (loaded) return;
            loaded = true;

            window.ShopifyAnalytics.lib = window.trekkie;

      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action && action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href && href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });


            var originalDocumentWrite = document.write;
            document.write = customDocumentWrite;
            try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
            document.write = originalDocumentWrite;


        window.ShopifyAnalytics.lib.page(
          null,
          {"pageType":"home"}
        );


          });


      var eventsListenerScript = document.createElement('script');
      //eventsListenerScript.async = true;
      //eventsListenerScript.src = "Themes/KlickAndGo/Content/cdn.shopify.com/s/assets/shop_events_listener-d79ebda2632cb15c30906d249ae7888d93876e15291a55bac5c64aaf1903b36a.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

        })();
</script>

<script id="apple-pay-shop-capabilities" type="application/json">
    {"shopId":8825910,"countryCode":"GB","currencyCode":"GBP","merchantCapabilities":["supports3DS"],"merchantId":"gid:\/\/shopify\/Shop\/8825910","merchantName":"Rinkit.com","requiredBillingContactFields":["postalAddress","email"],"requiredShippingContactFields":["postalAddress","email"],"shippingType":"shipping","supportedNetworks":["visa","masterCard","amex"],"total":{"type":"pending","label":"Rinkit.com","amount":"1.00"}}
</script>
<meta id="in-context-paypal-metadata" data-merchant-id="ZTLU6T7RMX5XC" data-environment="production" data-locale="en_US" data-redirect-url="" />
<link href="~/Themes/KlickAndGo/Content/MediaAll.css" rel="stylesheet" media="all"/>

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="~/Themes/KlickAndGo/Content/cdn.shopify.com/s/files/1/0882/5910/t/28/assets/jquerya0b2.js"></script>

<!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-A-N52xSF2V4ZQ"
});
</script>
<noscript>
    <div style="display:none;">
        <img src="../pixel.quantserve.com/pixel/p-A-N52xSF2V4ZQ.gif" border="0" height="1" width="1" alt="Quantcast" />
    </div>
</noscript>
<!-- End Quantcast tag -->
<!-- Theme Global App JS ================================================== -->
<script>
      var app = app || {
        data:{
          template:"index",
          money_format: "\u0026pound;{{amount}}"
        }
      }
</script>