
@{
    ViewBag.Title = "Shared Documents";
}

@section styles{
    <link href="~/Content/DMS/dms.css" rel="stylesheet" />
}

<div>
    @*@Html.Action("RenderDms", "Docs", new { path = "/shared/", viewMode = "list", area = "DMS" })*@
    @Html.Action("V", "Docs", new { area = "DMS" })
</div>

@section scripts{
    <script src="~/Scripts/flowplayer/flowplayer-3.2.13.min.js"></script>
    <script src="~/Scripts/DMS/dms.js"></script>
}