@model Ecommerce.Entity.Product

@{
    ViewBag.Title = "All Products";
}

@section styles{
    <link href="~/Content/App/Ecommerce.css" rel="stylesheet" />
    }
<div class="form-Modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewBag.Title</h4>
            <div class="btn-group btn-group-xs" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                <a href="javascript://" onclick="deleteMultipleRecords('@Url.Action("DeleteMultiplePages")', '.checkIt')" class="btn btn-danger forceRedirect"><i class="fa fa-trash"></i> Delete</a>
                <a href="~/Ecommerce/Inventory/ProductRecord" class="btn btn-primary"><i class="fa fa-plus"></i> Add New Product</a>
            </div>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table id="products-dataTable" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th><input type="checkbox" onchange="checkAll(this, 'checkIt')" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="" id="dataTable_0" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Identifier" id="dataTable_1" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Title" id="dataTable_2" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Category" id="dataTable_3" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Brand" id="dataTable_4" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Cost Price" id="dataTable_5" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Sale Price (retail only)" id="dataTable_6" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Availabe Qty" id="dataTable_7" /></th>
                            <th class="text-center" width="100px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="btn-group btn-group-sm" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-angle-left"></i> Back</a>
                <a href="javascript://" onclick="deleteMultipleRecords('@Url.Action("DeleteMultiplePages")', '.checkIt')" class="btn btn-danger forceRedirect"><i class="fa fa-trash"></i> Delete</a>
                <a href="~/Ecommerce/Inventory/ProductRecord" class="btn btn-primary"><i class="fa fa-plus"></i> Add New Product</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            filterDataTable("#products-dataTable", [2,3,4,5,6,7,], [0,1,2,8]);
            getProducts("#products-dataTable");
        });
    </script>
<script src="~/Scripts/App/Ecommerce.js"></script>
}

