
<form id="frm" class="form-Modal" method="post" action="~/Secure/Employee/PtoAssignees">
    <div class="modal-content">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Assignees</h4>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table id="employees-dataTable" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Task" id="employees-dataTable_0" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Date" id="employees-dataTable_0" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Clock In" id="employees-dataTable_1" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Clock Out" id="employees-dataTable_2" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Department" id="employees-dataTable_3" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Username" id="employees-dataTable_4" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Status" id="employees-dataTable_5" /></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </div>
    </div>
</form>