
<div class="row" style="padding:5px 22px;">
    <div class="col-sm-12 well" style="margin-bottom:3px;">
        <label style="font-size: 15px;"><strong>Location Tracking</strong></label>

        <div class="row" style="margin-top:12px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="col-sm-2 no-padding"><strong>Address line 1</strong></label>
                    <div class="col-md-10 no-padding">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group" style="margin-top:10px;">
                    <label class="col-sm-2 no-padding"><strong>Address line 2</strong></label>
                    <div class="col-md-10 no-padding">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row" style="margin-top:18px;">
                    <div class="col-md-6 form-group" style="margin-top:10px;">
                        <label class="col-sm-2"><strong>City</strong></label>
                        <div class="col-md-10">
                            @*<input type="text" class="form-control" />*@
                            <select class="form-control">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 form-group" style="margin-top:10px;">
                        <label class="col-sm-2"><strong>State</strong></label>
                        <div class="col-md-10">
                            @*<input type="text" class="form-control" />*@
                            <select class="form-control">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group" style="margin-top:10px;">
                        <label class="col-sm-2"><strong>Zip</strong></label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 form-group" style="margin-top:10px;">
                        <label class="col-sm-2"><strong>Country</strong></label>
                        <div class="col-md-10">
                            @*<input type="text" class="form-control" />*@
                            <select class="form-control">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>