<div class="row" id="upload-box" style="display:none; padding:5px 22px;">
    <div class="col-md-12 well" style="margin-bottom:3px;">
        <div class="row">
            <div class="col-md-12 text-left">
                <p style="font-size:18px; font-weight:bold;">Click any icon to upload files</p>
            </div>
        </div>
        <div class="col-md-6 no-padding">
            <div class="col-md-3" style="padding:6px;">
                <div class="jFiler-input-dragDrop" style="border:1px solid #e0dede; height:76px;">
                    <div class="jFiler-input-inner">
                        <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                                <span class="wd-fa-add-file-light-text">
                                    <span class="wd-fa-add-file-light-title" style="padding-top:5px;">
                                        <span class="wd-fa-add-file-light-title-text">
                                            <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                                            <label for="file-1">
                                                <i class="fa fa-upload fa-2x"></i>
                                                <span class="wd-fa-add-file-light-descript">Click here to upload local files</span>
                                            </label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                @*<input class="diskuf-fileUploader wd-test-file-light-inp" id="filer_input1" type="file" multiple="multiple" size="1" name="bxu_files[]">*@
            </div>
            <div class="col-md-3" style="padding:6px;">
                <div class="jFiler-input-dragDrop" style="border:1px solid #e0dede; height:76px;">
                    <div class="jFiler-input-inner">
                        <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                                <span class="wd-fa-add-file-light-text">
                                    <span class="wd-fa-add-file-light-title" style="padding-top:5px;">
                                        <span class="wd-fa-add-file-light-title-text">
                                            <input type="file" name="file-2[]" id="file-2" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                                            <label for="file-2">
                                                <i class="fa fa-camera fa-2x"></i>
                                                <span class="wd-fa-add-file-light-descript">Camera Uploads</span>
                                            </label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                @*<input class="diskuf-fileUploader wd-test-file-light-inp" id="filer_input1" type="file" multiple="multiple" size="1" name="bxu_files[]">*@
            </div>
            <div class="col-md-3" style="padding:6px;">
                <div class="jFiler-input-dragDrop" style="border:1px solid #e0dede; height:76px;">
                    <div class="jFiler-input-inner">
                        <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                                <span class="wd-fa-add-file-light-text">
                                    <span class="wd-fa-add-file-light-title" style="padding-top:5px;">
                                        <span class="wd-fa-add-file-light-title-text">
                                            <input type="file" name="file-3[]" id="file-3" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                                            <label for="file-3">
                                                <i class="fa fa-file-text fa-2x"></i>
                                                <span class="wd-fa-add-file-light-descript">Click to Scan</span>
                                            </label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                @*<input class="diskuf-fileUploader wd-test-file-light-inp" id="filer_input1" type="file" multiple="multiple" size="1" name="bxu_files[]">*@
            </div>
            <div class="col-md-3" style="padding:6px;">
                <div class="jFiler-input-dragDrop" style="border:1px solid #e0dede; height:76px;">
                    <div class="jFiler-input-inner">
                        <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                                <span class="wd-fa-add-file-light-text">
                                    <span class="wd-fa-add-file-light-title" style="padding-top:5px;">
                                        <span class="wd-fa-add-file-light-title-text">
                                            <input type="file" name="file-8[]" id="file-8" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                                            <label for="file-1">
                                                @*<img src="~/content/images/amazon-icon.png" style="width:28px; height:28px; margin-top:2px;" />*@
                                                <i class="fa fa-hdd-o fa-2x"></i>
                                                <span class="wd-fa-add-file-light-descript">Import from Company Drive</span>
                                            </label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                @*<input class="diskuf-fileUploader wd-test-file-light-inp" id="filer_input1" type="file" multiple="multiple" size="1" name="bxu_files[]">*@
            </div>
        </div>
        <div class="col-md-6 no-padding">
            <div class="col-md-3" style="padding:6px;">
                <div class="jFiler-input-dragDrop" style="border:1px solid #e0dede; height:76px;">
                    <div class="jFiler-input-inner">
                        <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                                <span class="wd-fa-add-file-light-text">
                                    <span class="wd-fa-add-file-light-title" style="padding-top:5px;">
                                        <span class="wd-fa-add-file-light-title-text">
                                            <input type="file" name="file-4[]" id="file-4" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                                            <label for="file-4">
                                                <i class="fa fa-dropbox fa-2x"></i>
                                                <span class="wd-fa-add-file-light-descript">Import from Dropbox</span>
                                            </label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                @*<input class="diskuf-fileUploader wd-test-file-light-inp" id="filer_input1" type="file" multiple="multiple" size="1" name="bxu_files[]">*@
            </div>
            <div class="col-md-3" style="padding:6px;">
                <div class="jFiler-input-dragDrop" style="border:1px solid #e0dede; height:76px;">
                    <div class="jFiler-input-inner">
                        <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                                <span class="wd-fa-add-file-light-text">
                                    <span class="wd-fa-add-file-light-title">
                                        <span class="wd-fa-add-file-light-title-text">
                                            <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                                            <label for="file-5">
                                                <img src="~/content/images/box-icon.png" style="width:38px; height:28px; margin-top:6px;" />
                                                <span class="wd-fa-add-file-light-descript">Import from Box</span>
                                            </label>
                                        </span>
                                    </span>
                                    @*<span class="wd-fa-add-file-light-descript">Drag files here to upload</span>*@
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding:6px;">
                <div class="jFiler-input-dragDrop" style="border:1px solid #e0dede; height:76px;">
                    <div class="jFiler-input-inner">
                        <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                                <span class="wd-fa-add-file-light-text">
                                    <span class="wd-fa-add-file-light-title">
                                        <span class="wd-fa-add-file-light-title-text">
                                            <input type="file" name="file-6[]" id="file-6" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                                            <label for="file-5">
                                                <img src="~/content/images/gdrive-icon.png" style="width:28px; height:28px; margin-top:6px;" />
                                                <span class="wd-fa-add-file-light-descript">Import from Google Drive</span>
                                            </label>
                                        </span>
                                    </span>
                                    @*<span class="wd-fa-add-file-light-descript">Drag files here to upload</span>*@
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding:6px;">
                <div class="jFiler-input-dragDrop" style="border:1px solid #e0dede; height:76px;">
                    <div class="jFiler-input-inner">
                        <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                                <span class="wd-fa-add-file-light-text">
                                    <span class="wd-fa-add-file-light-title" style="padding-top:5px;">
                                        <span class="wd-fa-add-file-light-title-text">
                                            <input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                                            <label for="file-1">
                                                <i class="fa fa-cloud-upload fa-2x"></i>
                                                <span class="wd-fa-add-file-light-descript">Import from One Drive</span>
                                            </label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                @*<input class="diskuf-fileUploader wd-test-file-light-inp" id="filer_input1" type="file" multiple="multiple" size="1" name="bxu_files[]">*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @*@{ Html.RenderAction("DmsItems", "Docs", new { model = Model, area = "dms" }); }*@
                @*<div class="jFiler-input-dragDrop" style="border:1px solid #e0dede; height:76px;">
                    <div class="jFiler-input-inner">
                        <div class="diskuf-uploader">
                            <span class="wd-fa-add-file-light">
                                <span class="wd-fa-add-file-light-text">
                                    <span class="wd-fa-add-file-light-title" style="padding-top:5px;">
                                        <span class="wd-fa-add-file-light-title-text">
                                            <input type="file" name="file-8[]" id="file-8" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                                            <label for="file-1">
                                            </label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>

@*<div id="dms-mask"><i class='fa fa-refresh fa-spin fa-5x help-block'></i></div>*@
@*<div id="docUploadDock" class="help-block">
    <div class="msg">
        <i class="fa fa-cloud-upload fa-5x"></i>
        <h4>Drag your files to upload</h4>
    </div>
</div>*@