
@{
    ViewBag.Title = "Task Management";
    Layout = "~/Areas/Secure/Views/Shared/_Layout.cshtml";
}

@section styles{
<link href="~/Content/App/TaskManagement.css" rel="stylesheet" />    
}



<div class="form-Modal">
    <div class="modal-content bg-transparent">
        <div class="modal-header">
            <h4 class="modal-title">
                Overview
                <span class="pull-right" style="font-size:16px;">
                    <button type="button" style="background:transparent; border:none" aria-haspopup="true">
                        <i class="fa fa-plus-circle fa-2x text-primary"></i>
                    </button>
                </span>
            </h4>
        </div>
        <div class="modal-body">
            <h4 class="text-center">
                Task Management Overview
            </h4>
        </div>
    </div>
</div>

