@{
    ViewBag.Title = "Regions List";
}


<div class="user-Profile" style="min-height:430px;">
    <div id="employees-Container">
        @{ Html.RenderAction("_AllRegions", "Region"); }
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            filterDataTable("#regions-dataTable", [1, 2, 3, 4, 5], [0, 6],10);
        });
    </script>
}

