<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="HRMS_Connection" connectionString="Server=DESKTOP-FP10FF9\MSSQLSERVER2017;Database=SOSTech_ERP;Integrated Security=SSPI;" />-->
    <!--<add name="SOSHRMSEntities" connectionString="metadata=res://*/Model.HRMSModel.csdl|res://*/Model.HRMSModel.ssdl|res://*/Model.HRMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FP10FF9\MSSQLSERVER2017;initial catalog=SOSHRMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <add name="SOSHRMSEntities" connectionString="metadata=res://*/Model.HRMSModel.csdl|res://*/Model.HRMSModel.ssdl|res://*/Model.HRMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FP10FF9\MSSQLSERVER2017;initial catalog=SOSHRMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>