<section class="main-search">
    <div class="container">
        <h3>Search tenders for sale</h3>
        <form class="detailedsearch inline-style" action="#" method="post">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <select class="form-control" id="select">
                            <option>Location</option>
                            <option>Croatia</option>
                            <option>Slovenia</option>
                            <option>Serbia</option>
                            <option>Bosnia</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <select class="form-control" id="selectCity">
                            <option>City</option>
                            <option>Sarajevo</option>
                            <option>Zagreb</option>
                            <option>Beograd</option>
                            <option>Tuzla</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <select class="form-control" id="select-type">
                            <option>Rent or sale</option>
                            <option>Rent</option>
                            <option>Sale</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <select class="form-control" id="selectPriceMin">
                            <option>Price min.</option>
                            <option>100 000</option>
                            <option>150 000</option>
                            <option>200 000</option>
                            <option>300 000</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <select class="form-control" id="selectPriceMax">
                            <option>Price max.</option>
                            <option>100 000</option>
                            <option>150 000</option>
                            <option>200 000</option>
                            <option>300 000</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <select class="form-control" id="selectBedrooms">
                            <option>Bedrooms</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <select class="form-control" id="selectBathrooms">
                            <option>Bathrooms</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <select class="form-control" id="selectParking">
                            <option>Parking space</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>




                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="results.html" id="search" data-style="slide-left" class="btn btn-lg btn-raised ripple-effect btn-primary btn-block"> <i class="ti-search"></i>Search</a>
                </div>
            </div>
        </form>
    </div>
    <!-- /.container -->
</section>