
@{
    ViewBag.Title = "Keywords Management";
}

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified custom-Nav-Tabs" role="tablist">
    <li role="presentation" class="first-child"><a href="~/CMS/Seo/Metadata"><i class="fa fa-search"></i> General</a></li>
    <li role="presentation" class="active"><a href="~/CMS/Seo/Keyword"><i class="fa fa-key"></i> Keywords Management</a></li>
    <li role="presentation"><a href="~/CMS/Seo/Sitemap"><i class="fa fa-sitemap"></i> Sitemap</a></li>
    <li role="presentation" class="last-child"><a href="~/CMS/Seo/UrlMetadata"><i class="fa fa-link"></i> Page Optimization</a></li>
</ul>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Keywords List</h4>
                <div class="btn-group btn-group-xs" role="group">
                    <a href="javascript://" class="btn btn-primary"><i class="fa fa-upload"></i> Upload Keyword List</a>
                </div>
            </div>
            <div class="table-responsive" style="height:300px; overflow-y:scroll;">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Keyword</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1. Home Page</td>
                        </tr>
                        <tr>
                            <td>2. Contact Us</td>
                        </tr>
                        <tr>
                            <td>3. Our Services</td>
                        </tr>
                        <tr>
                            <td>4. Tenders</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">Keywords Analysis</h4>
            </div>
            <div class="table-responsive" style="height:300px; overflow-y:scroll;">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Most Popular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1. Home Page</td>
                        </tr>
                        <tr>
                            <td>2. Contact Us</td>
                        </tr>
                        <tr>
                            <td>3. Our Services</td>
                        </tr>
                        <tr>
                            <td>4. Tenders</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>