@model BaseApp.Entity.AppUserPermissions

@{
    ViewBag.Title = "Access Management";
    var allRoles = ViewBag.AllRoles as List<AppRole>;
}
@section styles{
    <style>
        ul.stage-Nav > li.list-group > a.list-group-item::after {
            left: 90%;
        }

        .cke_textarea_inline .container {
            width: 965px;
        }

        .scTitle {
            text-decoration: none !important;
        }
    </style>
}
<div class="form-Modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Role and Permissions</h4>
            <div class="btn-group btn-group-xs" role="group">
                <a href="javascript://" onclick="carouselFormValidatePrev('#div-Carousel', 2)" class="btn btn-default" data-placement="bottom"><i class="fa fa-chevron-left"></i> Back</a>
                <a href="javascript://" onclick="carouselFormValidate(this, '#div-Carousel', 3);" data-placement="bottom" class="btn btn-success review-btn">Next <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-Modal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">App Roles</h4><br />
                                        <div class="btn-group btn-group-xs pull-right" role="group">
                                            <a href="~/Secure/AccessControl/Role" class="btn btn-primary"><i class="fa fa-plus"></i> Add New Role</a>
                                        </div>
                                    </div>
                                    <div class="modal-body" style="padding: 10px!important;">
                                        <div class="table-responsive">
                                            <table id="roles-dataTable" class="table table-hover table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th><input class="form-control input-sm input-tbl" type="text" placeholder="Role" id="dataTable_0" /></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var x in allRoles)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="javascript://" class="scTitle" data-id="@x.Id">@x.Code @x.Title <i class="fa fa-share fa-2x pull-right"></i></a>    
                                                            </td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-Modal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Role Permissions</h4>
                                        <div class="btn-group btn-group-xs pull-right" role="group">
                                            @*<a href="javascript://" class="btn btn-primary"><i class="fa fa-plus"></i> Add New</a>*@
                                        </div>
                                    </div>
                                    <div class="modal-body" style="padding: 10px!important;">
                                        <div class="table-responsive">
                                            <table id="shippingPackages-dataTable" class="table table-hover table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" onchange='checkAll(this, "checkIt")' /></th>
                                                        <th><input class="form-control input-sm input-tbl" type="text" placeholder="Title" id="dataTable_0" /></th>
                                                        <th><input class="form-control input-sm input-tbl" type="text" placeholder="Type" id="dataTable_1" /></th>
                                                        <th><input class="form-control input-sm input-tbl" type="text" placeholder="Delivery Time" id="dataTable_2" /></th>
                                                        <th><input class="form-control input-sm input-tbl" type="text" placeholder="Price" id="dataTable_3" /></th>
                                                        <th class="text-center" width="100px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer text-right">
            <div class="btn-group btn-group-sm" role="group">
                <a href="javascript://" onclick="carouselFormValidatePrev('#div-Carousel', 2)" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</a>
                <a href="javascript://" class="btn btn-success review-btn" onclick="carouselFormValidate(this, '#div-Carousel', 3);">Next <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
    $(function () {
            filterDataTable("#shippingCompany-dataTable", [1], [0, 2]);
            getshippingCompanies("#shippingCompany-dataTable");

            filterDataTable("#shippingPackages-dataTable", [1, 2, 3, 4], [0, 5]);
            getshippingPackages("#shippingPackages-dataTable","0");

            $('#shippingCompany-dataTable_length,#shippingCompany-dataTable_filter,#shippingPackages-dataTable_length,#shippingPackages-dataTable_filter').css('display', 'none');
        });
    </script>
    <script src="~/Scripts/App/EcommerceSettings.js"></script>
}
