
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-Custom">
            <a href="~/Secure/AccessControl/Roles" class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-lock text-info"></i> Roles and Permissions<i class="fa fa-angle-right pull-right text-muted"></i></h3>
            </a>
            <div class="panel-body no-padding" style="min-height:250px;">
                <div class="caption">
                    Manage Roles and Permissions.
                </div>
                <table class="table table-striped no-margin">
                    <tr><th class="text-center">Roles and Permissions Inculdes</th></tr>
                    <tr><td><a href="javascript://">List of Rolse</a></td></tr>
                    <tr><td><a href="javascript://">Role Management Settings</a></td></tr>
                    <tr><td><a href="javascript://">Permission Assignment Settings</a></td></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default panel-Custom">
            <a href="~/Secure/AccessControl/" class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-lock text-info"></i> Access Control List<i class="fa fa-angle-right pull-right text-muted"></i></h3>
            </a>
            <div class="panel-body no-padding" style="min-height:250px;">
                <div class="caption">
                    Manage and Configure all application users.
                </div>
                <table class="table table-striped no-margin">
                    <tr><th class="text-center">Access Control List Inculdes</th></tr>
                    <tr><td><a href="javascript://">List of All Application Users</a></td></tr>
                    <tr><td><a href="javascript://">App Users Management</a></td></tr>
                    <tr><td><a href="javascript://">Role and Permission allocation</a></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>

