@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    padding-top: 41px;
    padding-bottom: 40px;
    padding-left:15px;
    padding-right:15px;
    font-size:12px !important;
    outline: none;
}

#user-Mobile-Menu {
    height:32px;
    padding:5px 10px;
    margin-top:9px;
    margin-bottom:0;
}

/*#region Themes Row*/
#themesRow {
    margin:0;
}
    #themesRow .thumbnail {
        padding:0;
    }
        #themesRow .thumbnail:hover {
            text-decoration:none;
        }

    #themesRow .badge {
        background:#00a65a;
        height:25px;
        width:25px;
        margin:0;
        border-radius:50px;
        position:absolute;
        bottom:65px;
        right:25px;
    }
        #themesRow .badge > i {
            font-size:20px;
            margin-left:-3px;
        }
    #themesRow .caption > p {
        margin:0;
    }

    #themesRow .bar1 {
        display:block;
        width: 100%;
        float: left;
        height: 10px;
    }
    #themesRow .bar2 {
        display:block;
        width: 100%;
        float: left;
        height: 20px;
    }
    #themesRow .bar3 {
        display:block;
        width: 100%;
        float: left;
        height: 80px;
        margin-bottom:5px;
    }
/*#endregion Themes Row*/

/*#region Header*/

/*#region Mobile Top Menu*/
#mobile-Top-Menu {
    min-height:30px;
}
    #mobile-Top-Menu > div.btn-group > div.btn-group {
        padding:5px 15px;
    }
        #mobile-Top-Menu > div.btn-group > a {
            
        }
            #mobile-Top-Menu > div.btn-group > a > .fa {
                font-size:18px;
                padding:5px 15px;
            }

        #mobile-Top-Menu a.dropdown-toggle {
            
        }
            #mobile-Top-Menu a.dropdown-toggle > .fa {
                font-size:18px;
            }
    #mobile-Top-Menu div.dropdown-menu {
        position:fixed;
        top:30px;
        width:100%;
    }
/*#endregion Mobile Top Menu*/

/*#region Mobile Footer Menu*/
#mobile-Footer-Menu {
    min-height:30px;
}
    #mobile-Footer-Menu > div.btn-group > div.btn-group {
        padding:5px 15px;
    }
        #mobile-Footer-Menu > div.btn-group > a {
            
        }
            #mobile-Footer-Menu > div.btn-group > a > .fa {
                font-size:18px;
                padding:5px 15px;
            }

        #mobile-Footer-Menu a.dropdown-toggle {
            
        }
            #mobile-Footer-Menu a.dropdown-toggle > .fa {
                font-size:18px;
            }
    #mobile-Footer-Menu div.dropdown-menu {
        position:fixed;
        top:30px;
        width:100%;
    }
/*#endregion Mobile Footer Menu*/

/*#region Management Tab*/
.mng-tab {
    margin:0;
    padding:0;
}
    .mng-tab .btn {
        height:80px;
        overflow:hidden;
        color:#9f9f9f;
        transition:all 0.3s ease;
    }
        .mng-tab .btn:hover, .mng-tab .btn:active, .mng-tab .btn:focus {
            margin:0;
            color:#757575;
        }

        .mng-tab .btn > p {
            margin:0;
            font-size:12px;
            margin-top:5px;
            line-height:13px;
        }
/*#endregion Management Tab*/

header {
    min-height:30px !important;
}

header > div.navbar-header > a.navbar-brand {
    padding: 0 15px;
    padding-top:10px;
    padding-bottom:5px;
    height:40px;
}
    header > div.navbar-header > a.navbar-brand > img {
        float:left;
        max-height:25px;
        margin-right:10px;
    }
    header > div.navbar-collapse > ul.nav > li > a {
        margin:0;
        padding:10px 15px;
        font-size:15px;
    }
    header > div.navbar-collapse > ul.navbar-right {
        margin-right:0;
    }

    header .badge {
        position:absolute;
        top:3px;
        right:8px;
        padding:3px 5px;
        font-size:8px;
    }

.breadcrumb {
    margin-bottom:5px;
}
    .breadcrumb > li + li:before {
        font-family: 'FontAwesome';
        content: '\f105';
    }

#mobile-Module-Menu, #mobile-User-Menu {
    margin-top:33px;
}

/*#region Module Navigation*/
#fix-moduleNav {
    /*-webkit-transition: all .9s ease-in-out;
	-moz-transition: all .9s ease-in-out;
    transition:all 0.9s ease-in-out;*/
}

.module-Nav-scrolled {
    /*transform:translate3d(0px,0px,0px);
    -moz-transform:translate3d(0px,0px,0px);*/
    position:fixed;
    top:-5px;
    width:100%;
    z-index:150;
}

.stickyNavPadding {
    padding-top:145px;
}

#Module-Nav {
    box-sizing:border-box;
    z-index:150;
}
@media screen and (min-width:991px)
{
    #Module-Nav {
        height:90px;
    }
}

.management-popover-content {
    margin:0 -5px;
    margin-bottom:10px;
    float:left;
    box-shadow:inset 0px 0px 100px 10px rgba(0, 0, 0, 0.1);
    border-top:1px solid rgba(0,0,0,0.3);
    border-bottom:1px solid rgba(0,0,0,0.3);
    box-sizing:border-box;
}

#Module-Nav .module-nav-wrapper .tile {
    margin:0;
    float:left;
    width:114px;
    height:90px;
    padding:10px 16px;
    display:block;
    border:none;
    background:transparent;
    box-shadow:none;
    text-align:center;
    /*-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;*/
    opacity:0.7;
}

#Module-Mobile-Nav .module-nav-wrapper .tile {
    width:33.33%;
}

.management-popover-content > .tile {
    height:86px;
}

#Module-Nav .module-nav-wrapper .tile:hover, #Module-Nav .module-nav-wrapper .tile:active, #Module-Nav .module-nav-wrapper .tile:focus {
    opacity:1;
    text-decoration:none;
}

#Module-Nav .module-nav-wrapper .active-tile {
    opacity:1;
    box-shadow:none;
}
    #Module-Nav .module-nav-wrapper .active-tile:hover {
        background:transparent;
    }

    #Module-Nav .module-nav-wrapper .active-tile > .tile-Icon {
        /*color:#fff !important;*/
    }
    #Module-Nav .module-nav-wrapper .active-tile > .tile-Title {
        /*color:#fff !important;*/
        border-top-width:5px !important;
        border-top-style:solid !important;
    }

/*.module-nav-wrapper .col-xs-6:nth-child(even) .tile {
    box-shadow: 30px 0px 30px -30px rgba(0, 0, 0, 0.3) inset, -30px 0px 30px -30px rgba(0, 0, 0, 0.3) inset, 1px 0px 0px rgba(255, 255, 255, 0.25);
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.02);
}

.module-nav-wrapper .col-xs-6:nth-child(even) .tile:hover {
    opacity:1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 30px 0px 30px -30px inset, rgba(0, 0, 0, 0.5) -30px 0px 30px -30px inset, rgba(255, 255, 255, 0.25) 1px 0px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 30px 0px 30px -30px inset, rgba(0, 0, 0, 0.5) -30px 0px 30px -30px inset, rgba(255, 255, 255, 0.25) 1px 0px 0px;
	box-shadow: rgba(0, 0, 0, 0.5) 30px 0px 30px -30px inset, rgba(0, 0, 0, 0.5) -30px 0px 30px -30px inset, rgba(255, 255, 255, 0.25) 1px 0px 0px;
	background: rgba(0,0,0,0.1);
}*/

.module-nav-wrapper .tile:hover > .tile-Icon, .module-nav-wrapper .tile:active > .tile-Icon, .module-nav-wrapper .tile:focus > .tile-Icon {
    /*color:#fff;*/
}
#Module-Nav .module-nav-wrapper .tile:hover > .tile-Title, #Module-Nav .module-nav-wrapper .tile:active > .tile-Title, #Module-Nav .module-nav-wrapper .tile:focus > .tile-Title {
    /*color:#fff;*/
    border-color:#fff;
}
#Module-Nav .module-nav-wrapper .tile > .tile-Icon {
    /*color:rgba(255, 255, 255, 0.6);*/
    -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
}

#Module-Nav .module-nav-wrapper .tile > .tile-Icon span {
    margin-top:-2px;
    padding-bottom:8px;
}

#Module-Nav .module-nav-wrapper .tile > .tile-Title {
    margin:0 -16px;
    padding:5px;
    height:41px;
    border-top:2px solid rgba(255, 255, 255, 0.6);
    text-transform:uppercase;
    font-size:11px;
    text-overflow:ellipsis;
    line-height:13px;
    white-space:nowrap;
    overflow:hidden;
    /*color:rgba(255, 255, 255, 0.6);*/
    -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
}
/*#endregion Module Navigation*/


/*#endregion Header*/

/*#region Sidebar*/
#mobile-Module-Menu {
    padding-bottom:120px;
}


#sideBar-accordion {

}
    #sideBar-accordion > .media {
        margin-bottom:10px;
    }
    #sideBar-accordion > div.panel {
        border:0;
        border-radius:0;
        margin-top:0;
    }
    #sideBar-accordion .panel-title {
        font-size:12px;
    }
        #sideBar-accordion .panel-title > .list-group-item {
            border-radius:0;
            border:0;
        }
            #sideBar-accordion .panel-title > .list-group-item > .badge {
                
            }
    #sideBar-accordion > .panel > .panel-collapse > .list-group > .list-group-item {
        font-size:11px;
        padding-left:30px;
        border-radius:0;
        border:0;
    }
    #sideBar-accordion .list-group-item-info, #sideBar-accordion .list-group-item-success {
        font-weight:bold;
        background:transparent;
    }
    #sideBar-accordion .list-group-item > .fa, #sideBar-accordion .list-group-item-info > .fa, #sideBar-accordion .list-group-item-success > .fa {
        font-size:18px;
        margin-right:10px;
    }

#sideBar-Sub-accordion {
    margin-bottom:0;
}
    #sideBar-Sub-accordion > .panel {
        margin-top:0;
    }
        #sideBar-Sub-accordion > .panel > .panel-heading {
            padding:0;
        }
            #sideBar-Sub-accordion > .panel > .panel-heading > .panel-title > .list-group-item {
                font-size:11px;
                padding-left:30px;
            }
            #sideBar-Sub-accordion > .panel > .panel-heading > .panel-title > .active {
                opacity:0.8;
            }
        #sideBar-Sub-accordion > .panel > .panel-collapse > .list-group > .list-group-item {
            font-size:11px;
            padding-left:45px;
        }
/*#endregion Sidebar*/

/*#region Footer*/
#baseApp-Footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    font-size:10px;
    min-height:10px !important;
    /*color:#fff;*/
}
    #baseApp-Footer a {
        padding:0 !important;
        font-size:10px !important;
    }

/*#region Module Menu*/
/*#management-popover-mobile {
    width:95px;
}*/

#Footer-Module-Nav {
    /*background: #75caeb;*/
    float: left;
    width: 100%;
}
    #Footer-Module-Nav > .module-nav-wrapper > .tile {
        margin:0;
        width:93.2px;
        height:55px;
        float:left;
        padding:10px 16px;
        display:block;
        box-shadow:none;
        text-align:center;
        opacity:0.7;
        border-radius:0;
        /*background:#75caeb;
        border-radius:0;
        color:rgba(255,255,255,0.8) !important;
        border:1px solid #32a8e6;*/
    }
        #Footer-Module-Nav > .module-nav-wrapper > .active-tile, #Footer-Module-Nav > .module-nav-wrapper > .tile:active, #Footer-Module-Nav > .module-nav-wrapper > .tile:focus {
            opacity:1;
            /*background:#32a8e6;
            box-shadow:inset 0 3px 3px rgba(0,0,0,0.2);*/
        }
        #Footer-Module-Nav > .module-nav-wrapper > .tile > .tile-Title, #Footer-Module-Nav > .module-nav-wrapper > .tile > .active-Title {
            border:none !important;
            padding:0;
            font-weight:normal;
            color:#fff;
        }
        #Footer-Module-Nav > .module-nav-wrapper > .tile > .tile-Title, #Footer-Module-Nav > .module-nav-wrapper > .tile > .tile-Icon {
            width: 100%;
            margin: 0;
            color:#fff;
        }
            #Footer-Module-Nav > .module-nav-wrapper > .tile > .tile-Icon > .fa {
                margin-top:5px;
                padding-bottom:0;
            }

/*#region More Management Tab*/
.management-popover-content-mobile {
    width:280px;
    float:left;
}
    .management-popover-content-mobile > .tile {
        margin:0;
        width:93.2px;
        height:55px;
        float:left;
        padding:10px 16px;
        display:block;
        box-shadow:none;
        text-align:center;
        opacity:0.7;
        border-radius:0;
    }
        .management-popover-content-mobile > .active-tile, .management-popover-content-mobile > .tile:active, .management-popover-content-mobile > .tile:focus {
            opacity:1;
        }

        .management-popover-content-mobile > .tile > .tile-Title, .management-popover-content-mobile > .tile > .tile-Icon {
            width: 100%;
            margin: 0;
            color:#fff;
        }

        .management-popover-content-mobile > .tile > .tile-Icon > .fa {
            margin-top:10px;
        }
/*#endregion More Management Tab*/

/*#endregion Module Menu*/

/*#endregion Footer*/



/*#region Dashboard*/

/*#region info-box*/
.info-box {
    display: block;
    min-height: 115px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
    .info-box .info-box-icon {
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
        display: block;
        float: left;
        height: 115px;
        width: 90px;
        text-align: center;
        font-size: 45px;
        line-height: 115px;
        background: rgba(0, 0, 0, 0.2);
    }
    .info-box .info-box-content {
        padding:0;
        margin-left: 90px;
    }
    .info-box .info-box-text {
        text-transform: uppercase;
        display: block;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        padding:5px;
        text-align:center;
        text-overflow: ellipsis;
    }
    .info-box .info-box-number {
        display: block;
        font-weight: bold;
        font-size: 55px;
        text-align:center;
    }
/*#endregion info-box*/

/*#region small-box*/
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    /*min-height:190px;*/
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
    .small-box > .inner {
        /*height: 100px;*/
        padding: 0;
    }
        .small-box > .inner > .icon {
            -webkit-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
            float:left;
            width:100%;
            z-index: 1;
            text-align: center;
            font-size: 70px;
            color: rgba(0, 0, 0, 0.15);
        }
            .small-box > .inner > .icon > .fa {

            }


        .small-box > .inner > .caption {
            /*float:left;*/
            /*width:60%;*/
            text-align:right;
            padding-right:10px;
        }

            .small-box > .inner > .caption > p {
                font-size: 14px;
                margin:0;
            }
                .small-box > .inner > .caption > p > .count {
                    font-weight: bold;
                    font-size: 16px;
                }

    .small-box > .small-box-footer {
        position: absolute;
        width:100%;
        text-align: center;
        padding: 3px 0;
        color: #fff;
        color: rgba(255, 255, 255, 0.8);
        display: block;
        z-index: 10;
        background: rgba(0, 0, 0, 0.3);
        text-decoration: none;
        font-size:16px;
    }

    .small-box:hover {
        /*text-decoration: none;*/
        color: #f9f9f9;
    }
    /*.small-box:hover .icon {
        font-size: 80px;
    }*/
/*#endregion small-box*/

/*#region statistics-box*/
.statistics-box {
    border-radius: 2px;
    position: relative;
    display: block;
    height: 158px;
    margin-bottom: 20px;
    box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
    .statistics-box > .radial-progress {
        margin:0;
        position:absolute;
        left:22%;
        top:6px;
    }

    .statistics-box > .inner {
        height: 130px;
        padding: 0;
    }
        .statistics-box > .inner > div.row > div {
            text-align: center;
            margin-bottom:5px;
        }
        .statistics-box > .inner > div.row > div.left-align {
            padding-right:60px;
        }
        .statistics-box > .inner > div.row > div.right-align {
            padding-left:60px;
        }

            .statistics-box > .inner > div.row > div > i {
                /*font-size:20px;*/
                font-style:normal !important;
            }

            .statistics-box > .inner > div.row > div > p {
                margin: 0;
                padding: 0;
                font-size: 10px;
                margin-top: -10px;
                -webkit-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                transition: all 0.3s linear;
            }

    .statistics-box > .statistics-box-footer {
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 3px 0;
        display: block;
        z-index: 10;
        background: rgba(0, 0, 0, 0.1);
        text-decoration: none;
        font-size: 16px;
    }

    .statistics-box > .statistics-box-footer, .statistics-box > .inner > div.row > div > p {
        color: rgba(255, 255, 255, 0.9);
    }

    .statistics-box:hover {
        text-decoration: none;
        color: #fff;
        box-shadow: 0 0px 3px 2px rgba(0, 0, 0, 0.4);
    }
/*#endregion statistics-box*/

#todo-dashboard > .carousel-inner > .item, #todo-mobile-dashboard > .carousel-inner > .item {
    padding: 40px 145px;
}
    #todo-dashboard > .carousel-inner > .item > .row > div, #todo-mobile-dashboard > .carousel-inner > .item > .row > div {
        padding:15px;
    }

/*#region KPI Lines*/
.KPI-Lines {

}
    .KPI-Lines > .list-group-item {
        padding:15px 10px;
        font-size:20px;
        border:none;
    }
        .KPI-Lines > .list-group-item > p {
            margin:0;
        }
        .KPI-Lines > .list-group-item .count {
            float:right;
        }
    .KPI-Lines > .list-group-item-primary, .KPI-Lines > .list-group-item-primary:hover, .KPI-Lines > .list-group-item-primary:active, .KPI-Lines > .list-group-item-primary:focus {
        background:#1b809e;
        color:#fff;
    }
    .KPI-Lines > .list-group-item-info, .KPI-Lines > .list-group-item-info:hover, .KPI-Lines > .list-group-item-info:active, .KPI-Lines > .list-group-item-info:focus {
        background:#75caeb;
        color:#fff;
    }
    .KPI-Lines > .list-group-item-success, .KPI-Lines > .list-group-item-success:hover, .KPI-Lines > .list-group-item-success:active, .KPI-Lines > .list-group-item-success:focus {
        background:#00a65a;
        color:#fff;
    }
    .KPI-Lines > .list-group-item-warning, .KPI-Lines > .list-group-item-warning:hover, .KPI-Lines > .list-group-item-warning:active, .KPI-Lines > .list-group-item-warning:focus {
        background:#ff7701;
        color:#fff;
    }
    .KPI-Lines > .list-group-item-danger, .KPI-Lines > .list-group-item-danger:hover, .KPI-Lines > .list-group-item-danger:active, .KPI-Lines > .list-group-item-danger:focus {
        background:#ff4136;
        color:#fff;
    }
/*#endregion KPI Lines*/

/*#endregion Dashboard*/

/*#region Panel Heading Buttons*/
.panel > div.panel-heading > div.btn-group-xs {
    float:right;
    margin-top:-19px;
}

.page-header > div.btn-group {
    float:right;
    margin-top:-50px;
}

.panel-Custom > a.panel-heading {
    display:block;
    width:100%;
    padding:25px 15px;
}
    .panel-Custom > a.panel-heading:hover, .panel-Custom > a.panel-heading:active, .panel-Custom > a.panel-heading:focus {
        text-decoration:none;
    }
    .panel-Custom > a.panel-heading > .panel-title {
        font-size:20px;
    }
.panel-Custom > .panel-body > .caption {
    padding:15px;
}
/*#endregion Panel Heading Buttons*/

/*#region Custom Bootstrap Header*/
.custom-header {
    margin-top:0;
    margin-bottom:5px;
    padding:0;
}
    .custom-header > .btn-group {
        position:absolute;
        top:0;
        right:15px;
        font-size:20px;
    }
    .custom-header > h3 {
        margin-top:0;
    }
    .custom-header > p > .addSpace {
        padding:0 5px;
    }
/*#endregion Custom Bootstrap Header*/

/*#region Form Modal*/
.form-Modal > .modal-content {
    box-shadow:none;
    border-radius:0;
    border:none;
}
    .form-Modal > div.modal-content > div.modal-header > div.btn-group-xs {
        float:right;
        margin-top:-19px;
    }
/*#endregion Form Modal*/

/*#region Loading Mask*/
#loading-mask {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:9999;
    background:rgba(255,255,255,0.7);
}
    #loading-mask > img {
        margin:250px auto;
        max-height:100px;
        display:block;
    }
/*#endregion Loading Mask*/

/*#region Input Errors*/
input.error, textarea.error {
    border:1px solid #e51c23;
    /*-webkit-box-shadow: inset 0 -2px 0 #e51c23 !important;
    box-shadow: inset 0 -2px 0 #e51c23 !important;*/
}
label.error {
    color:#e51c23;
    font-weight:normal;
    font-size:10px;
}
/*#endregion Input Errors*/


/*#region Custom list group*/
.custom-list-group {
    
}
    .custom-list-group > .list-group-item:hover {
        background:#5fc1e8;
    }
/*#endregion Custom list group*/


/*#region Datatables*/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
table.dataTable tbody tr {
    background-color:transparent;
}
.dt-search {
    display:none;
}
    .dt-search > td {
        padding: 5px !important;
    }
        .dt-search > td > input {
            padding: 5px;
        }
.dataTables_filter > label > input[type="search"] {
    border-radius:3px;
    background-image:none;
    background-color:#fff;
    color:#666666;
    border:1px solid #cccccc;
}
.dataTables_length > label > select {
    border-radius:4px;
}

.table {
    
}
    .table > thead > tr > th {
        border-bottom: 1px solid rgba(0,0,0,0.8) !important;
        padding: 5px 10px;
    }
    .table > tbody > tr.selected {
        background-color:rgba(0, 192, 239, 0.2) !important;
    }

.input-tbl, .input-tbl:hover, .input-tbl:active, .input-tbl:focus {
    border:none;
    box-shadow:none;
}

.input-tbl {
    background:transparent;
    width:90%;
    padding:0;
}

.table-hover > tbody > tr:hover, .table-hover > tbody > tr:focus, .table-hover > tbody > tr:active {
    background-color:rgba(0, 192, 239, 0.2);
}
/*#endregion Datatables*/

/*#region Input width settings*/
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}
textarea {
    max-width:100%;
}
.popover {
    max-width:413px !important;
}
/*#endregion Input width settings*/

/*#region Commonly Used Custom Classes*/
/* Commonly used */
.no-padding {
    padding:0;
}
.sm-padding {
    padding:5px;
}
.no-margin {
    margin:0;
}
.border-top {
    border-top:1px solid inherit;
}
.no-border {
    border:0 !important;
}
.no-radius {
    border-radius:0 !important;
}
.no-radius-left {
    border-radius:0 3px 3px 0;
}
.no-radius-right {
    border-radius:3px 0 0 3px;
}
.margin-sm {
    margin: 5px;
}
table.table {
    margin:0 !important;
}
.img-centre {
    display:block;
    margin:0 auto;
}
.img-cirlce {
    width:180px;
    height:180px;
    border-radius:500px;
}
.btn-circle {
    border-radius:500px;
    width:100px;
    height:100px;
    padding:15px;
    font-size:11px;
}
.fullWidth {
    width:100%;
}
.no-underline:hover {
    text-decoration:none !important;
}
.bg-transparent {
    background:transparent;
}
.text-bold {
    font-weight:bold;
}
.horizontal-label {
    padding:0;
    padding-top:5px;
    text-align:right;
}
.horizontal-label-2lines {
    padding:0;
    margin:0;
    margin-top: -4px;
    text-align:right;
}
.btn-group-ht {
    height:70px;
    border-bottom: 15px solid #0ac9f7;
}
    .btn-group-ht > .btn {
        background:#fff;
        border:0;
        border-radius:0;
    }
    .btn-group-ht > .active {
        background:#0ac9f7;
    }

    .btn-group-ht > .btn:after {
        content: " ";
        position: absolute;
        top: 0;
        width: 25px;
        height: 100%;
        background-color: #fff;
    }
    .btn-group-ht > .btn:after {
      border-radius: 0 20px 0 0;
      transform: skew(42deg);
      right: 24px; /* play with this one to give the LI border ~2px extrusion */
      border-right: 1px solid rgba(0,0,0,0.7);
      z-index: 1; /* overlap next element */
    }

    .btn-group-ht > .btn > i.fa {
        font-size: 25px;
        position: absolute;
        left: 10px;
        top: 16px;
    }
/*#endregion Commonly Used Custom Classes*/

/*#region Custom Nav Tabs*/
.custom-Nav-Tabs {
    padding-right:44px;
    border-bottom:15px solid #0ac9f7 !important;
}

.custom-Nav-Tabs li{
  display:inline-block;
  margin-left:-20px;
  border:0;
}

.custom-Nav-Tabs a {
    border-color:#333 !important;
    border-bottom:0 !important;
    background:#fff;
    position: relative;
    display: inline-block;
    border-radius: 7px 7px 0 0; /* just to smooth the top edges */
    padding: 10px !important;
    font-size:16px;
}

.custom-Nav-Tabs a:after{
  content:" ";
  position: absolute;
  top:0;
  width: 45px;
  height: 100%;
  background-color: inherit; 
}
.custom-Nav-Tabs a:after{
  border-radius: 0 9px 0 0;
  transform: skew(40deg);
  right: -25px; /* play with this one to give the LI border ~2px extrusion */
  border-right: 1px solid #333;
  z-index: 1; /* overlap next element */
}
/* LI ACTIVE  */
.custom-Nav-Tabs li.active a:after{
  border-right: 1px solid #0ac9f7; 
}
.custom-Nav-Tabs li.active a, .custom-Nav-Tabs li.active a:hover, .custom-Nav-Tabs li.active a:active, .custom-Nav-Tabs li.active a:focus {
  color:#fff;
  background:#0ac9f7;
  border-color:#0ac9f7 !important;
}
    .custom-Nav-Tabs > li > a > .fa {
        font-size: 22px;
    }

    .custom-Nav-Tabs > li.first-child > a > .fa {
        left: 10px;
    }
/*#endregion Custom Nav Tabs*/

/*#region Stages Nav*/
.stage-Nav-scrolled {
    position:fixed;
    top:95px;
    width:75% !important;
    z-index:100;
}

ul.stage-Nav {
    margin-bottom:15px;
}
    ul.stage-Nav > li {
        border-radius:0;
    }
        ul.stage-Nav > li.list-group > a.list-group-item {
            border-radius:0;
            height:55px;
            background-color:#c2e1fc;
            border:0;
        }
        ul.stage-Nav > li.list-group > a.done, ul.stage-Nav > li.list-group > a.done-last {
            background-color:#00a65a;
            color:#fff;
        }
            ul.stage-Nav > li.list-group > a.done > .list-group-item-heading, ul.stage-Nav > li.list-group > a.done-last > .list-group-item-heading {
                color:#fff;
            }

            ul.stage-Nav > li.list-group > a.done::after {
                background-color:#00a65a !important;
                border-left:27px solid #00a65a !important;
            }
            ul.stage-Nav > li.list-group > a.done::before {
                background-color:transparent;
            }

            ul.stage-Nav > li.list-group > a.done-last::after {
                
                background-color:#446e9b !important;
                border-left:27px solid #00a65a !important;
            }

            ul.stage-Nav > li.list-group > a.active::after {
                border-left:27px solid #446e9b !important;
            }
            
            
            

        ul.stage-Nav > li.list-group > a.list-group-item::before {
            content:"";
            position: absolute;
            right: 90%;
            top:0px;
            width:0px;
            height:0px;
            border-top:27px solid transparent;
            border-left:40px solid transparent;
            border-bottom:27px solid transparent;
        }

        ul.stage-Nav > li.list-group > a.list-group-item::after {
            content:"";
            position: absolute;
            left: 82%;
            top:0px;
            width:0px;
            height:0px;
            background-color:#c2e1fc;
            border-top:27px solid transparent;
            border-left:27px solid #c2e1fc;
            border-bottom:28px solid transparent;
        }

        ul.stage-Nav > li.list-group > a.last::after {
            background-color:#fff !important;
        }


        ul.stage-Nav > li.list-group > a.list-group-item i {
            position:absolute;
            top:-25px;
            right:-1px;
            font-size:100px;
            z-index:100;
            color:#fff;
        }
        ul.stage-Nav > li.list-group > a.active i, ul.stage-Nav > li.list-group > a.done i, ul.stage-Nav > li.list-group > a.done-last i {
            color:rgba(0,0,0,0.2);
        }



        ul.stage-Nav > li.list-group > a.active {
            background-color:#446e9b;
        }
            ul.stage-Nav > li.list-group > a.list-group-item > .list-group-item-heading {
                text-align:left;
            }
/*#endregion Stages Nav*/

/*#region Colorfull Backgrounds*/
.text-white {
    color:#fff !important;
}

.bg-teal-gradient {
    background: #39cccc !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc), color-stop(1, #7adddd)) !important;
    background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important;
    background: -moz-linear-gradient(center bottom, #39cccc 0%, #7adddd 100%) !important;
    background: -o-linear-gradient(#7adddd, #39cccc) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7adddd', endColorstr='#39cccc', GradientType=0) !important;
    color: #fff;
}
    .bg-teal-gradient .fill {
        background-color:#37b9b9 !important;
    }
    .bg-teal-gradient .radial-progress .inset .percentage .numbers span {
        color:#37b9b9;
    }
.bg-yellow-gradient {
    background: #f39c12 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f7bc60)) !important;
    background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important;
    background: -moz-linear-gradient(center bottom, #f39c12 0%, #f7bc60 100%) !important;
    background: -o-linear-gradient(#f7bc60, #f39c12) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60', endColorstr='#f39c12', GradientType=0) !important;
    color: #fff;
}
    .bg-yellow-gradient .fill {
        background-color:#f39c12 !important;
    }
    .bg-yellow-gradient .radial-progress .inset .percentage .numbers span {
        color:#f39c12;
    }
.bg-light-blue-gradient {
    background: #3c8dbc !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc), color-stop(1, #67a8ce)) !important;
    background: -ms-linear-gradient(bottom, #3c8dbc, #67a8ce) !important;
    background: -moz-linear-gradient(center bottom, #3c8dbc 0%, #67a8ce 100%) !important;
    background: -o-linear-gradient(#67a8ce, #3c8dbc) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a8ce', endColorstr='#3c8dbc', GradientType=0) !important;
    color: #fff;
}
    .bg-light-blue-gradient .fill {
        background-color:#3b82ab !important;
    }
    .bg-light-blue-gradient .radial-progress .inset .percentage .numbers span {
        color:#3b82ab;
    }
.bg-aqua-gradient {
    background: #00c0ef !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00c0ef), color-stop(1, #14d1ff)) !important;
    background: -ms-linear-gradient(bottom, #00c0ef, #14d1ff) !important;
    background: -moz-linear-gradient(center bottom, #00c0ef 0%, #14d1ff 100%) !important;
    background: -o-linear-gradient(#14d1ff, #00c0ef) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14d1ff', endColorstr='#00c0ef', GradientType=0) !important;
    color: #fff;
}
    .bg-aqua-gradient .fill {
        background-color:#02aed8 !important;
    }
    .bg-aqua-gradient .radial-progress .inset .percentage .numbers span {
        color:#02aed8;
    }
.bg-purple-gradient {
    background: #605ca8 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #605ca8), color-stop(1, #9491c4)) !important;
    background: -ms-linear-gradient(bottom, #605ca8, #9491c4) !important;
    background: -moz-linear-gradient(center bottom, #605ca8 0%, #9491c4 100%) !important;
    background: -o-linear-gradient(#9491c4, #605ca8) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9491c4', endColorstr='#605ca8', GradientType=0) !important;
    color: #fff;
}
    .bg-purple-gradient .fill {
        background-color:#5b579a !important;
    }
    .bg-purple-gradient .radial-progress .inset .percentage .numbers span {
        color:#5b579a;
    }
.bg-red-gradient {
    background: #dd4b39 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dd4b39), color-stop(1, #e47365)) !important;
    background: -ms-linear-gradient(bottom, #dd4b39, #e47365) !important;
    background: -moz-linear-gradient(center bottom, #dd4b39 0%, #e47365 100%) !important;
    background: -o-linear-gradient(#e47365, #dd4b39) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e47365', endColorstr='#dd4b39', GradientType=0) !important;
    color: #fff;
}

.bg-aqua {
    background-color:#00c0ef !important;
    color: #fff;
}
.bg-red {
    background-color:#dd4b39 !important;
    color: #fff;
}
.bg-green {
    background-color:#00a65a !important;
    color: #fff;
}
.bg-yellow {
    background-color:#f39c12 !important;
    color: #fff;
}

.bg-teal-gradient:hover, .bg-yellow-gradient:hover, .bg-light-blue-gradient:hover, .bg-aqua-gradient:hover, .bg-purple-gradient:hover, .bg-red-gradient:hover {
    color:#fff;
}

.bg-teal-gradient:active, .bg-teal-gradient:focus, .bg-yellow-gradient:active, .bg-yellow-gradient:focus, .bg-light-blue-gradient:active, .bg-light-blue-gradient:focus, .bg-aqua-gradient:active, .bg-aqua-gradient:focus, .bg-purple-gradient:active, .bg-purple-gradient:focus, .bg-red-gradient:active, .bg-red-gradient:focus, .bg-active {
    color:#fff;
    box-shadow:inset 0 5px 10px rgba(0,0,0,0.3);
}

/*#endregion Colorfull Backgrounds*/

/*#region Custom Colors*/
.clr-blue {
    color:#00c0ef !important;
}
.clr-skyblue {
    color:#7adddd !important;
}
.clr-teal {
    color:#39cccc !important;
}
.clr-purple {
    color:#605ca8 !important;
}
.clr-green {
    color:#00a65a !important;
}
.clr-red {
    color:#e81b15 !important;
}
.clr-yellow {
    color:#f39c12 !important;
}
.clr-lightGreen {
    color:#93c54b !important;
}
.clr-pink {
    color:#fe6367 !important;
}
.clr-maroon {
    color:#7f0000 !important;
}
.clr-lightMaroon {
    color:#ab4659 !important;
}
.clr-royalBlue {
    color:#4285f4 !important;
}
.clr-lightBlue {
    color:#4dabf5 !important;
}
.clr-primary {
    color:#337ab7 !important;
}
.clr-info {
    color:#269abc !important;
}
.clr-danger {
    color:#ac2925 !important;
}
.clr-success {
    color:#398439 !important;
}
.clr-warning {
    color:#d58512 !important;
}
/*#endregion Custom Colors*/

/*#region Others*/
.login-Row {
    margin-top:60px;
}
    .login-Row > div.col-md-8 > h4 {
        margin-top:80px;
    }

.navmenu-fixed-right {
   left: auto !important;
}
.modal.in { display: block!important; }
/*#endregion Others*/

/*#region Summer Note Overrides*/
.note-editor.note-frame {
    border:none !important;
    margin:0;
}
.note-icon-picture, .note-icon-pencil {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    .note-icon-picture::before {
        content:"\f03e";
    }
    .note-icon-pencil::before {
        content: "\f040";
    }
/*#endregion Summer Note Overrides*/

/*#region Breadcrumb*/
.breadcrumb-btn {
    margin-top:-32px;
    margin-right:10px;
    float:right;
}
    .breadcrumb-btn > .btn {
        width: 70px;
    }
/*#endregion Breadcrumb*/

/*#region Sticky Note*/
.stickyNote {
    background-color:#ffffcc;
}
    .stickyNote > .toolbar {
        padding:3px 15px;
        background-color:#ffffa4;
        margin:-4px;
        transition:all 0.2s linear;
    }
        .stickyNote > .toolbar > .title {
            margin:0;
            font-size:17px;
            font-weight:bold;
        }

        .stickyNote > .toolbar > .badge-right > .fa {
            color:rgba(0,0,0,0.5);
            font-size:20px;
            position:absolute;
            top:3px;
            right:25px;
            opacity:0;
            padding:2px;
            transition:all 0.2s linear;
        }
            .stickyNote:hover .badge-right > .fa {
                opacity:1;
            }
    .stickyNote > .toolbar > .badge-right > .fa:hover {
        background-color:rgba(0,0,0,0.1);
    }
/*#endregion Sticky Note*/

/*#region Callouts*/
.bs-callout {
    position:relative;
    padding: 20px;
    margin: 8px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
    .bs-callout + .bs-callout {
        margin-top: -5px;
    }
    .bs-callout > a {
        position:absolute;
        top:0;
        right:4px;
        font-size:20px;
    }
    .bs-callout h4, .bs-callout h3 {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .bs-callout p:last-child {
        margin-bottom: 0;
    }

.bs-callout-success {
    border-left-color: #00a65a;
}
    .bs-callout-success h4, .bs-callout-success h3 {
        color: #00a65a;
    }

.bs-callout-primary {
    border-left-color: #1b809e;
}
    .bs-callout-primary h4, .bs-callout-primary h3 {
        color: #1b809e;
    }
.bs-callout-info {
    border-left-color: #75caeb;
}
    .bs-callout-info h4, .bs-callout-info h3 {
        color: #75caeb;
    }
.bs-callout-warning {
    border-left-color: #ff7701;
}
    .bs-callout-warning h4, .bs-callout-warning h3 {
        color: #ff7701;
    }
.bs-callout-danger {
    border-left-color: #ff4136;
}
    .bs-callout-danger h4, .bs-callout-danger h3 {
        color: #ff4136;
    }
/*#endregion Callouts*/

/*#region User Profile*/
.user-Profile {
    /*font-family:'Josefin Sans';*/
    padding:20px 0;
    font-size:14px;
    color:#000000;
}
    .user-Profile .right-btn {
        padding:5px 10px;
        /*background:#080808;*/
        background:#c1c1c1;
        color:#333;
        text-decoration:none;
        margin-top:-5px;
        float:right;
    }
    .user-Profile .img-cirlce {
        border: 1px solid rgba(000,000,000,0.25);
    }
    .user-Profile .img-container:hover .img-overlay {
        opacity:1;
        cursor:pointer;
    }
    .user-Profile .img-overlay {
        opacity:0;
        width: 180px;
        height: 180px;
        margin: 0 auto;
        text-align: center;
        line-height: 170px;
        border-radius: 500px;
        background: rgba(0,0,0,0.2);
        position: absolute;
        top: 0;
        left: 30px;
        z-index:1;
        transition:all 0.2s linear;
    }

    .user-Profile .file-select {
        position:absolute;
        top:0;
        left:0;
        height:180px;
        border-radius:500px;
        opacity:0;
        cursor:pointer;
        z-index:100;
    }

    .user-Profile h1, .user-Profile h2, .user-Profile h3, .user-Profile h4, .user-Profile h5, .user-Profile h6, .user-Profile p {
        font-family:'Josefin Sans';
        color:#000000;
    }
    .user-Profile h1 > small, .user-Profile h2 > small, .user-Profile h3 > small, .user-Profile h4 > small, .user-Profile h5 > small, .user-Profile h6 > small {
        font-size:50%;
        color:rgba(000,000,000,0.7);
    }

    .user-Profile p {
        margin:0;
    }
    .user-Profile .page-header {
        padding-bottom:0;
        margin-top:0;
        border-color:rgba(000,000,000,0.6);
    }
        .user-Profile .page-header > input {
            background: transparent;
            border: none;
            font-size: 18px;
            margin-bottom: 5px;
            width: 70%;
        }
            .user-Profile .page-header > input:active, .user-Profile .page-header > input:focus, .user-Profile .page-header > input:hover {
                background:#000000;
                color:#fefefe;
            }

        .user-Profile .page-header > .btn-group {
            position:absolute;
            top:55px;
            right:15px;
        }
    .user-Profile .transparent-input {
        background: transparent;
        border: none;
        box-shadow:none;
        color:#fff;
    }
        .user-Profile .transparent-input:active, .user-Profile .transparent-input:focus, .user-Profile .transparent-input:hover {
            background:#000;
            color:#333;
        }

    .user-Profile .text-muted {
        /*color:rgba(255,255,255,0.7);*/
    }
    .user-Profile .tb-padding {
        /*padding-top:30px;*/
        padding-bottom:30px;
    }

    .user-Profile input, .user-Profile select, .user-Profile textarea {
        font-size: 14px;
    }

    .user-Profile .bordered-section {
        padding:15px;
        border:1px solid rgba(255,255,255,0.6);
    }

    .user-Profile .progress {
        height:40px;
        border-radius: 5px;
    }
    .user-Profile .progress .progress-bar {
        text-decoration:none;
        color:#fff;
    }
        .user-Profile .progress .progress-bar-muted {
            color:#333;
            background-color:#f1f1f1;
        }
    .user-Profile .dropdown-menu a.btn {
        color:#fff;
        background:#00c0ef;
        border:none;
        padding:10px;
        width:50%;
        margin:0 auto;
    }
        .user-Profile .dropdown-menu a.btn:hover {
            background:#009bc1;
        }

    .user-Profile .progress > .dropdown {
        position:inherit;
    }
    .user-Profile .progress .progress-bar {
        line-height:40px;
        height:40px;
        text-decoration:none;
        font-size:16px;
    }
        .user-Profile .progress .progress-bar:hover {
            color: #fff;
        }
        .user-Profile .progress .progress-bar-muted:hover {
            color: #333;
        }

    .user-Profile .progress > .dropdown:hover .dropdown-menu {
        display:block;
    }
    /*#region Circular Buttons*/
    .user-Profile .circle-btns {
        float:left;
        width:100%;
        margin: 15px 0;
    }
        /*.user-Profile .circle-btns > a {
            float: left;
            text-align:center;
            padding:23px;
            color:#fff;
            font-size:18px;
            text-decoration:none;
            margin:0 15px;
            border: 1px solid rgba(255,255,255,0.6);
            height: 130px;
            width: 130px;
            border-radius: 100px;
            transition:all 0.2s linear;
        }*/
        .user-Profile .circle-btns > a {
            float: left;
            text-align: center;
            padding: 23px;
            /* color: #fff; */
            font-size: 16px;
            text-decoration: none;
            margin: 0 15px;
            border: 1px solid rgba(000,000,000,0.15);
            height: 120px;
            width: 120px;
            border-radius: 100px;
            transition: all 0.2s linear;
        }
            .user-Profile .circle-btns > a > .title {
                height:50px;
                margin:0;
            }
            .user-Profile .circle-btnsNew > a > .title {
                margin-top: 28px;
            }
            .user-Profile .circle-Newbtns > a > .title {
                margin-top: 10px;
            }

            .user-Profile .circle-btns > a > .count {
                font-size: 26px;
                font-weight: bold;
                margin:0;
            }
            .user-Profile .circle-btns > a:hover, .user-Profile .circle-btns > a:focus {
                border-color:#fff;
                box-shadow:0 3px 10px rgba(0,0,0,0.15);
            }
            .user-Profile .circle-btns > a:active {
                box-shadow:inset 0 3px 10px rgba(0,0,0,0.15);
                border-color:#fff;
                background:rgba(0,0,0,0.07);
            }
            .user-Profile .circle-btns > a.active {
                box-shadow:inset 0 3px 10px rgba(0,0,0,0.15);
                border-color:#fff;
                background:rgba(0,0,0,0.07);
            }
    /*#endregion Circular Buttons*/

/*#endregion User Profile*/


/*#region Summary View*/
.summaryView-btns {

}
    .summaryView-btns > .btn {
        width:90px;
        height:65px;
        font-size:10px;
    }
        .summaryView-btns > .btn > .fa {
            font-size:18px;
        }
/*#endregion Summary View*/

.absolute-topRight {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

/*#region Doctor's Note*/
.nav-social {

}
    .nav-social > li > a {
        padding:7px;
        width:30px;
        height:30px;
    }
    .nav-social > li > a > .fa {
        font-size:18px;
    }
    .nav-social > li > a.linkedin {
        background:#0071ad;
        color:#fff;
    }
    .nav-social > li > a.facebook {
        background:#3b5998;
        color:#fff;
    }
    .nav-social > li > a.twitter {
        background:#1da1f2;
        color:#fff;
    }
    .nav-social > li > a.add {
        background:#32a8e6;
        color:#fff;
    }
/*#endregion Doctor's Note*/




/*#region Patient*/
.patient-thumbnail {
    text-align:center;
}
    .patient-thumbnail > img {
        padding:0;
        width:225px;
        height:225px;
    }
    .patient-thumbnail > .btn-group {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
    }

/*#region Patient Accordion*/
#patient-accordion {

}
    #patient-accordion > div.panel {
        border:0;
        border-radius:0;
        margin-top:0;
    }
    #patient-accordion .panel-title {
        color:#fff;
    }
        #patient-accordion .panel-title > .list-group-item {
            border-radius:0;
            border:0;
        }
        #patient-accordion .panel-title > .list-group-item-primary {
            background:#1b809e;
            color:#fff;
        }
        #patient-accordion .panel-title > .list-group-item-info {
            background:#75caeb;
            color:#fff;
        }
        #patient-accordion .panel-title > .list-group-item-success {
            background:#00a65a;
            color:#fff;
        }
        #patient-accordion .panel-title > .list-group-item-warning {
            background:#ff7701;
            color:#fff;
        }
        #patient-accordion .panel-title > .list-group-item-danger {
            background:#ff4136;
            color:#fff;
        }
            #patient-accordion .panel-title > .list-group-item > .badge {
                background: transparent;
                font-size: 20px;
                padding: 0;
                margin-top: -1px;
                color:#fff;
            }
        #patient-accordion .panel-collapse > .bs-callout {
            margin:0;
        }
/*#endregion Patient Accordion*/
/*#endregion Patient*/

/*#region Appointment*/
.appt-Vitals {
    width:100%;
    height: 122px;
    overflow-x: scroll;
    white-space:nowrap;
}
    .appt-Vitals > .caption {
        display:inline-block;
        text-align:center;
        width:119px;
        height:104px;
        padding: 5px;
        margin:0;
        border-left: 1px solid #eeeeee;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
        .appt-Vitals > .caption:hover {
            background:rgba(0,0,0,0.05);
            cursor:pointer;
        }
        .appt-Vitals > .caption:active, .appt-Vitals > .caption:focus {
            box-shadow:inset 0 3px 3px rgba(0,0,0,0.5);
        }
        .appt-Vitals > .caption > .btn {
            position:absolute;
        }
/*#endregion Appointment*/

/*#region Patient Overlay*/
.doctorNote-FixedBtn {
    cursor: pointer;
    position: fixed;
    top: 150px;
    right: 0;
    border-radius: 500px;
    padding: 14px 19px;
    height: 60px;
    width: 60px;
}
    .doctorNote-FixedBtn > i {
        font-size: 30px;
        color:#fff;
    }

.patientOverlay-right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 95%;
    margin-top:25px;
    right:30px;
    left:30px;
    background:transparent;
}

.patientOverlay-right > .btn-group {
    position: absolute;
    top: 55px;
    right: 20px;
    font-size: 60px;
}

/*@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}*/
/*#endregion Slide Overlay*/

/*#region Doctor's Note*/
.doctorNote {
    
}
    .doctorNote > div > .caption {
        padding: 10px;
    }
        .doctorNote > div > .caption > p {
            margin:0;
        }
    .doctorNote > div > .author {
        background:rgba(0,0,0,0.03);
        padding: 5px;
        font-size: 10px;
        border-bottom:1px solid #f39c12;
    }
        .doctorNote > div > .author > p {
            margin:0;
        }
/*#endregion Doctor's Note*/

/*#region bootstrap well colors*/
.well-lightBlue {
    background:rgba(117, 202, 235, 0.1);
    border:none;
}

.well-skyBlue {
    background:rgba(117, 202, 235, 0.4);
    border:none;
    box-shadow:0 3px 3px rgba(0,0,0,0.1);
}
    .well-skyBlue .page-header h1, .well-skyBlue .page-header h2, .well-skyBlue .page-header h3, .well-skyBlue .page-header h4, .well-skyBlue .page-header h5, .well-skyBlue .page-header h6 {
        
    }
        .well-skyBlue .page-header h1 small, .well-skyBlue .page-header h2 small, .well-skyBlue .page-header h3 small, .well-skyBlue .page-header h4 small, .well-skyBlue .page-header h5 small, .well-skyBlue .page-header h6 small {
            
        }
/*#endregion bootstrap well colors*/

.modal-xl {
    width:90%;
}


/*#region Media Queries*/
@media (max-width:1024px) {
    /*#region Circle Buttons*/
    .user-Profile .circle-btns {
        margin: 15px 0;
    }
        .user-Profile .circle-btns > a {
            padding:12px;
            font-size:18px;
            margin:0 15px;
            height: 100px;
            width: 100px;
        }
        .user-Profile .circle-btnsNew > a > .title {
            margin-top: 25px;
        }
    /*#endregion Circle Buttons*/
}
@media (min-width:767px) {
    .dropdown:hover .dropdown-menu {
        margin-top: 0;
        display: block;
    }
    .dropdown-menu {
        width:375px;
    }
    .no-padding-left {
        padding-left:0;
    }
    .no-padding-right {
        padding-right:0;
    }
}

@media (max-width:768px) {
    .hidden-tablet {
        display:none !important;
    }
    .visible-tablet {
        display:block !important;
    }
}

@media (max-width:767px) {
    body {
        padding-bottom:90px;
        padding-top: 90px;
        padding-left:15px;
        padding-right:15px;
    }
    header {
        top:30px !important;
        z-index:1000 !important;
    }
        header > div.navbar-header > a.navbar-brand {
            padding:15px;
        }
        header > div.navbar-collapse > ul.navbar-right {
            margin:0;
        }
    .login-Row {
        margin-top:0;
    }
        .login-Row > div.col-md-8 > h4 {
            margin-top:0;
        }
    #todo-mobile-dashboard > .carousel-inner > .item  {
        padding-left: 50px;
        padding-right: 50px;
    }

    .statistics-box > .radial-progress {
        left:42%;
    }
        ul.stage-Nav > li.list-group > a.list-group-item::after {
            left: 93% !important;
            background-color:#fff !important;
        }
    .summaryView-btns > .btn {
        width:82px;
        height:55px;
        font-size:9px;
    }
}
@media (max-width:667px) {
    .stickyNavPadding {
        padding-top: 0px;
    }
    .breadcrumb {
        padding-left:6px;
    }

    .breadcrumb-btn {
        float:none;
        margin-right: 0;
        margin-top:-13px;
    }
        .breadcrumb-btn > .btn {
            width: 70px;
        }

    .mobile-btn-group > .btn {
        width:25%;
    }

    .mobile-landscape-col-4 {
        width:33.33% !important;
        float:left;
    }

    /*#region Custom Nav Tabs*/
    .custom-Nav-Tabs {
        padding-right: 0;
    }
        
        .custom-Nav-Tabs a {
            min-width:168px;
            padding: 5px !important;
            font-size: 12px;
            margin:0 !important;
        }
        .custom-Nav-Tabs > li.first-child > a {
            margin-left:20px !important;
        }

        .custom-Nav-Tabs a:after {
            right: -5px; /* play with this one to give the LI border ~2px extrusion */
            width: 40px;
            transform: skew(25deg);
        }
        .custom-Nav-Tabs > li.last-child > a:after {
            right: -13px; /* play with this one to give the LI border ~2px extrusion */
            width: 21px;
        }
        .custom-Nav-Tabs > li > a > .fa {
            left: 20px;
            font-size: 14px;
        }
    /*#endregion Custom Nav Tabs*/

    /*#region info-box*/
    .info-box {
        min-height: 90px;
    }
        .info-box .info-box-icon {
            height: 90px;
            width: 90px;
            font-size: 45px;
            line-height: 90px;
        }
        .info-box .info-box-content {
            padding:0;
            margin-left: 90px;
        }
        .info-box .info-box-number {
            display: block;
            font-weight: bold;
            font-size: 25px;
            margin-top:10px;
            text-align:center;
        }
    /*#endregion info-box*/

    /*#region Circle Buttons*/
    .user-Profile .circle-btns {
        margin: 15px 0;
    }
        .user-Profile .circle-btns > a {
            padding:12px;
            font-size:18px;
            margin:0 8px;
            height: 100px;
            width: 100px;
        }
        .user-Profile .circle-btnsNew > a > .title {
            margin-top: 25px;
        }
    /*#endregion Circle Buttons*/
}

@media (max-width:500px) {
    .statistics-box > .radial-progress {
        left:32%;
    }
    .breadcrumb {
        padding-left:6px;
    }
    

    .breadcrumb-btn {
        float:none;
        margin-right: 0;
        margin-top:-13px;
    }
        .breadcrumb-btn > .btn {
            width: 70px;
        }
    /*#region Custom Nav Tabs*/
        .custom-Nav-Tabs a {
            max-width:157px;
            font-size: 12px;
            margin:0 !important;
            margin-left:20px !important;
            border-bottom:1px solid #333 !important;
        }
        .custom-Nav-Tabs a:after {
            right: -14px; /* play with this one to give the LI border ~2px extrusion */
            width: 27px;
            transform: skew(25deg);
        }
        .custom-Nav-Tabs > li.last-child > a:after {
            right: -14px; /* play with this one to give the LI border ~2px extrusion */
            width: 27px;
        }
        .custom-Nav-Tabs > li > a > .fa {
            left: 20px;
            font-size: 14px;
        }
    /*#endregion Custom Nav Tabs*/


    .mobile-landscape-col-4 {
        width:100% !important;
    }
    
    .hidden-xs {
        display:none !important;
    }
    .visible-xs {
        display:block !important;
    }

    .mobile-btn-group > .btn {
        width:50%;
    }

    .font-mobile-xs {
        font-size:9px;
    }

    .radial-progress-mobile {
        height:90px !important;
        width:90px !important;
    }
        .radial-progress-mobile .shadow, .radial-progress-mobile .fill, .radial-progress-mobile .circle .mask {
            width:90px !important;
            height:90px !important;
        }
        
        .radial-progress-mobile .inset {
            height:70px !important;
            width:70px !important;
            margin-top:10px !important;
            margin-left:10px !important;
        }
            .radial-progress-mobile .inset .percentage {
                top:25px !important;
                left:10px !important;
            }

    /*#region Circle Buttons*/
    .user-Profile .circle-btns {
        margin: 15px 0;
    }
        .user-Profile .circle-btns > a {
            padding:3px;
            font-size:10px;
            margin:0 5px;
            height: 50px;
            width: 50px;
        }
        .user-Profile .circle-btnsNew > a > .title {
            margin-top: 12px;
        }
    /*#endregion Circle Buttons*/

    .user-Profile .img-overlay {
        left:63px;
    }
}


/*#endregion Media Queries*/

/*#region CRM*/
.gridDropdown {
    margin-left: -180px;
    width: 200px !important;
}
.menu-link a {
            text-decoration: none !important;
        }
/*#endregion CRM*/

/*--------------------#region HRMS*/
.grid-buttons {
    font-size: 14px;
}

/*req field*/
.req {
    color: red !important;
    font-weight: bolder;
}

.horizontal-label {
    /*color: #007bff !important;*/
}

.activeNav {
    background-color: #158cba !important;
    color: white !important;
}
.inactiveNav {
    /*color: white !important;
    background: #2bbbad !important;*/
    color: #333333 !important;
    background-color:lightgray !important;

}

.input-sm {
    /*border-color: #bfb9b9;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #887b7b;
    background-color: #f5f5f5;
}

body {
    background-color: whitesmoke !important;
}

.fingerPrintImg {
    width: 80px !important;
    height: 80px !important;
}

.select2 {
    width: 100% !important;
}

.progress {
    margin-bottom: 10px !important;
}

.list-group-item {
    font-weight:lighter;
}
/*------------------#endregion HRMS*/

